
 .button {
    background-color: white; 
    border: none;
    color: #4dbb6d;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
  }


 .button:hover {
    background-color: #4dbb6d; 
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }



    .main-card{
      overflow: hidden !important;
      border-radius: 0px;
    }
    .main-card:hover{
        background-color: #4dbb6d;
        color: white;        
    }
    
    


    
    .temp{
        width: 100%;
        height: 100%;
    }
    .temp:hover{
        overflow: hidden; 
        background-color: #4dbb6d;
        color: white;
    }

    .main-img{
        transition: 0.3s all ease-in-out;
    }

    .main-img:hover{
        transform: scale(1.1);
    }

    .temp-1{
        height: 90px;
        overflow: hidden;
        position: relative;
    }
    .temp-1:hover{
        background-color: #4dbb6d;
        color: white;  
        display: block;
    }
 
 .text{

    color: #777;
 }










 