.linkTag {
    border: 1px solid #4DBB6D;
    color: #4DBB6D;
    padding: 11px 30px;
    margin: 16px 0px 8px;
    font: 12.8px sintony, sans-serif;
    text-decoration: none;

}

.linkTag:hover {
    background-color: #4DBB6D;
    color: #ffffff !important;
}

.Read-More {
    border: 1px solid #4DBB6D;
    color: #4DBB6D;
    padding: 11px 30px;
    margin: 16px 0px 8px;
    font: 12.8px sintony, sans-serif;
    text-decoration: none;
}

.Read-More:hover {
    background-color: #69c684;
    color: #ffffff !important;
}

.linkButton {
    border: 1px solid #4DBB6D;
    background-color: #4DBB6D;
    padding: 11px 30px;
    margin: 16px 0px 8px;
    font: 12.8px sintony, sans-serif;
    text-decoration: none;
    color: #ffffff !important;
}

.linkButton:hover {
    background-color: #69c684;
    color: #ffffff !important;
}

.FaGreaterThan {
    background-color: #E2FDEA;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    padding: 5px;
    color: grey;
}

.ourSanta {
    height: 110px;
    width: 110px;
    border-radius: 300px;
}

.ourSanta img {
    height: 110px;
    width: 110px;
    border-radius: 300px;
    border: 10px solid #ffffff
}

.ourTest {
    height: 200px;
    width: 200px;
    border-radius: 300px;
    border: 10px solid #ffffff
}

.vertical {
    border-left: 4px solid #4DBB6D;
    height: 60px;
}


.demo {
    margin: 5rem auto;
    padding: 1rem;
    width: 100%;
}

.demo .container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.demo .col-1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.demo .col-1 p:nth-child(1) {
    font-size: 1.8rem;
    font-style: italic;
}

.demo .col-1 p:nth-child(2) {
    font-size: 3rem;
    font-weight: 600;
    margin: .5rem 0;
}

.demo .col-1 p:nth-child(3) {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.demo .col-2 {
    margin: auto;
}

.carousel-control-prev-icon {
    background: url("../Assests/Img/ArrowLeft.png") no-repeat scroll 0 0 !important;
    position: absolute !important;
    min-height: 10vh !important;
    min-width: 50px !important;
    background-size: contain !important;
    cursor: pointer;
}

.carousel-control-next-icon {
    background: url("../Assests/Img/ArrowRight.png") no-repeat scroll 0 0 !important;
    position: absolute !important;
    height: 10vh !important;
    width: 50px !important;
    background-size: contain !important;
    cursor: pointer;
}


.carousel-dark .carousel-control-next-icon {
    display: none;
}

.carousel-dark .carousel-control-prev-icon {
    display: none;
}

.carousel-indicators {
    position: absolute !important;
    left: 75% !important;
    top: -5vh;
    width: 100px;
}

.carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    border: 2px solid #000 !important;
    background-color: #fff !important;
}

.carousel-indicators [data-bs-target]:hover {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    border: 2px solid #4DBB6D !important;
    background-color: #fff !important;
}

.carousel-indicators [data-bs-target].active {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    border: 2px solid #4DBB6D !important;
    background-color: #fff !important;
}

.oursant {
    background-color: #eef4f2 !important;
    border-color: #dfeae6 !important;
}

.Font-oursant {
    font-size: 16.8px;
    font-family: sintony, sans-serif;
}

.Font-oursant-ok {
    font-size: 14px;
    font-family: sintony, sans-serif;
}

.oursant-icon {
    position: relative;
    top: 54%;
    right: 20px;
    width: 30px;
    height: 30px;
    padding-bottom: 13px;


}

.oursant-icon:hover {
    width: 50px;
    height: 20px;
    cursor: pointer;

}

.Font-Carousel {
    font-size: 26px;
    font-family: playfair Display, serif;
    color: #FFFFFF;
}

.Font-Schedule {
    color: #fff;
    margin: "0px 0px 20px";
    font-size: "13px";
    font-family: "Sintony,sans-serif";
}

.mail {
    color: #fff;
}

.Mail-m {
    color: #fff;
}

.large-slider {
    display: block;
}

.mob-slider {
    display: none;
}

.mobile-slider {
    display: none;
}

.mob-main-slider {
    display: none;
}

.mob-Sub-slider {
    display: none;
}

.Solution {
    font-size: 29.9px;
    font-family: Playfair Display, sans-serif;
    margin: 0px 0px 48px;
}

.Corprate {
    overflow: hidden !important;
    border-radius: 0px;
}

.Corprate:hover {
    background-color: #4dbb6d;
    color: white;
}

.Corprate-Img {
    width: 100%;
    height: 32vh;
}

.Corprate-Img:hover {
    overflow: hidden;
    background-color: #4dbb6d;
    color: white;
}

.corprate-Img-2 {
    transition: 0.3s all ease-in-out;
}

.corprate-Img-2:hover {
    transform: scale(1.1);
}

.GreenEffect {
    height: 90px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    color: #212529 !important;
}

.GreenEffect:hover {
    background-color: #4dbb6d;
    color: white;
    display: block;
}

@media screen and (max-width: 940px) {
    .large-slider {
        display: none;
    }

    .mob-slider {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    .large-slider {
        display: none;
    }

    .mob-slider {
        display: none;
    }

    .mobile-slider {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 940px) {
    .demo .container {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .demo iframe {
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 320px) {
    .ashram {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {

    .carousel-indicators {
        left: 65% !important;

    }
}

@media screen and (max-width: 425px) {

    .carousel-indicators {
        left: 60% !important;

    }
}

@media screen and (max-width: 375px) {

    .carousel-indicators {
        left: 58% !important;

    }
}

@media screen and (max-width: 320px) {

    .carousel-indicators {
        left: 50% !important;

    }
}

@media screen and (max-width: 320px) {

    .Testimonials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 375px) {

    .Testimonials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 425px) {

    .Testimonials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 768px) {

    .Testimonials {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 425px) {
    .card-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (max-width: 768px) {
    .AshramList {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (max-width: 320px) {
    .ourSanta {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

    }
}

@media screen and (max-width: 375px) {
    .ourSanta {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

    }
}

@media screen and (max-width: 425px) {
    .ourSanta {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

    }
}

@media screen and (max-width: 768px) {
    .Card-Title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .main-slider {
        display: none;
    }

    .mob-main-slider {
        display: block;
    }

    .mob-Sub-slider {
        display: none;
    }

    .Bussiness {
        width: 100%;
    }

}

@media screen and (max-width: 425px) {
    .main-slider {
        display: none;
    }

    .mob-main-slider {
        display: none;
    }

    .mob-Sub-slider {
        display: block;
    }

    .call-us {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .Bussiness {
        width: 100%;
    }

}

@media screen and (max-width: 320px) {
    .certified {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        line-height: 2;
    }

}

@media screen and (max-width: 375px) {
    .certified {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        line-height: 2;
    }

}

@media screen and (max-width: 425px) {
    .certified {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        line-height: 2;
    }

}