button {
    border: 1px solid #4DBB6D;
    color: #4DBB6D;
    padding: 11px 30px;
    margin: 16px 0px 8px;
    font: 12.8px sintony, sans-serif;
}

button:hover {
    background-color: #4DBB6D;
    color: #ffffff;
}
button a {
    text-decoration: none;
    color: #4DBB6D;
}
button a:hover{
    background-color: #4DBB6D;
        color: #ffffff;
}
.FaGreaterThan {
    background-color: #E2FDEA;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    padding: 5px;
}

.ourSanta {
    height: 25px;
    width: 25px;
    border-radius: 300px;
}

.ourSanta img {
    height: 110px;
    width: 110px;
    border-radius: 300px;
    border: 10px solid #ffffff
}



.demo {
    margin: 5rem auto;
    padding: 1rem;
    width: 100%;
}

.demo .container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.demo .col-1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.demo .col-1 p:nth-child(1) {
    font-size: 1.8rem;
    font-style: italic;
}

.demo .col-1 p:nth-child(2) {
    font-size: 3rem;
    font-weight: 600;
    margin: .5rem 0;
}

.demo .col-1 p:nth-child(3) {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.demo .col-2 {
    margin: auto;
}


@media screen and (max-width: 940px) {
    .demo .container {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .demo iframe {
        width: 100%;
        height: auto;
    }
}