.linkTag {
    border: 1px solid #4DBB6D;
    color: #4DBB6D;
    padding: 11px 30px;
    margin: 16px 0px 8px;
    font: 12.8px sintony, sans-serif;
    text-decoration: none;

}

.linkTag:hover {
    background-color: #4DBB6D;
    color: #ffffff !important;
}
.Read-More {
            border: 1px solid #4DBB6D;
            color: #4DBB6D;
            padding: 11px 30px;
            margin: 16px 0px 8px;
            font: 12.8px sintony, sans-serif;
            text-decoration: none;
}
.Read-More:hover {
    background-color: #69c684;
    color: #ffffff !important;
}
.linkButton {
    border: 1px solid #4DBB6D;
    background-color: #4DBB6D;
    padding: 11px 30px;
    margin: 16px 0px 8px;
    font: 12.8px sintony, sans-serif;
    text-decoration: none;
    color: #ffffff !important;
}

.linkButton:hover {
    background-color: #69c684;
    color: #ffffff !important;
}

.FaGreaterThan {
    background-color: #E2FDEA;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    padding: 5px;
}

.ourSanta {
    height: 110px;
    width: 110px;
    border-radius: 300px;
}

.ourSanta img {
    height: 110px;
    width: 110px;
    border-radius: 300px;
    border: 10px solid #ffffff
}

.ourTest {
    height: 200px;
    width: 200px;
    border-radius: 300px;
    border: 10px solid #ffffff
}

.vertical {
    border-left: 4px solid #4DBB6D;
    height: 60px;
}

.GreenEffect:hover {
    cursor: pointer;
    background-color: #4DBB6D;

}

.demo {
    margin: 5rem auto;
    padding: 1rem;
    width: 100%;
}

.demo .container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.demo .col-1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.demo .col-1 p:nth-child(1) {
    font-size: 1.8rem;
    font-style: italic;
}

.demo .col-1 p:nth-child(2) {
    font-size: 3rem;
    font-weight: 600;
    margin: .5rem 0;
}

.demo .col-1 p:nth-child(3) {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.demo .col-2 {
    margin: auto;
}
.carousel-control-prev-icon {
    background: url("../Assests/Img/ArrowLeft.png")  no-repeat scroll 0 0 !important;
    position: absolute !important;
    min-height: 20vh !important;
   min-width: 50px !important;
background-size: contain !important;   
 cursor: pointer;
}
.carousel-control-next-icon{
   background: url("../Assests/Img/ArrowRight.png") no-repeat scroll 0 0 !important;
    position: absolute !important;
    height: 20vh !important;
    width: 50px !important;
    background-size: contain !important;
    cursor: pointer;
}

.carousel-dark .carousel-control-next-icon {
    display: none;
}

.carousel-dark .carousel-control-prev-icon {
    display: none;
}
.carousel-indicators {
    position: absolute !important ;
    left: 50% !important;
    top: -5vh;
    width: 100px;
}
.carousel-indicators [data-bs-target] {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    border: 6px solid #000 !important;
    background-color: #fff !important;
/* position: absolute !important; */
}

.carousel-indicators [data-bs-target]:hover {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    border: 6px solid #4DBB6D !important;
    background-color: #fff !important;
}

.carousel-indicators [data-bs-target].active {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    border: 6px solid #4DBB6D !important;
    background-color: #fff !important;
    /* display: "flex" !important;
    flex-direction: column !important;
    justify-content: end !important;
    align-items: flex-start !important; */
}


@media screen and (max-width: 940px) {
    .demo .container {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .demo iframe {
        width: 100%;
        height: auto;
    }
}