.box{
    position: absolute;
    right: 50px;
    top: 100px;   
}
@media screen and (max-width:475px) {
    .Card-absolute {
        display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 75% !important;

    }
}
@media screen and (max-width:375px) {
    .Card-absolute {
        display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 70% !important;

    }
}
@media screen and (max-width:320px) {
    .Card-absolute {
        display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 65% !important;

    }
}