

.ourSan {
    height: 110px;
    width: 110px;
    border-radius: 300px;
    /* border: 10px solid #ffffff */
}


.ourSan img {
    height: 110px;
    width: 110px;
    border-radius: 100px;
    border: 6px solid #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}